@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/1spirited.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 30px 13%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:100px;
}
nav ul li{
    display: inline-block;
    list-style: none;
}
nav ul li a{
    font-family: 'Poppins';
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.header-text{
    color: #fff;
    font-size: 20px;
}
.header-text h1{
    font-weight: 300;
    font-size: 50px;
    margin-top: 50px;
    letter-spacing: 7px;
    line-height: 1.2;
    text-shadow: 2px 1px 6px rgb(42, 42, 42);
}
.header-text p{
    font-family: 'Poppins';
    font-size: 13px;
    width: 300px;
    color: black;
    /*text-shadow: 2px 1px 3px rgb(42, 42, 42);*/
    padding-top: 20px;
    /* font-weight: 400; */
}
.btn{
    background: #906924;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 2px 1px 3px rgb(42, 42, 42);
}
.header-text a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    display: inline-block
}
.thumbnails img{
    margin-top: 48px;
    width: 120px;
    border-radius: 10px;
    box-shadow: 2px 1px 3px rgb(42, 42, 42);
    margin-right: 40px;
    transition: 0.5s;
}
.thumbnails img:hover{
    transform: scale(1.1);
}
.thumbnails p{
    color: black;
    font-family: 'Poppins';
    font-size: 13px;
    position: absolute;
    bottom: 240px;
    left: 720px;
    font-weight: 400;
}
.covers{
    list-style: none;
    position: absolute;
    cursor: pointer;
    display: flex;
}
.display{
    border-radius: 20px;
    width: 260px;
    position: absolute;
    right: 190px;
    top: 110px;
    box-shadow: 2px 1px 3px rgb(42, 42, 42);
}
.imgBox a{
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 20px;
    position: relative;
    left: 77%;
    top: 180px;
}
.imgBox p{
    font-size: 12px;
    font-family: 'Poppins';
    width: 270px;
    height: 10px;
    position: relative;
    left: 77%;
    top: 60px;
}